   /* Style the modal */
   .answer-modal {
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  

  /* Style the X button */
  .answer-modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
  }

  /* Change the X button on hover */
  .answer-modal-close:hover {
    color: #000;
  }

  .answer-modal-content {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    max-width: 500px;
    max-height: 500px;
    overflow: auto;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 40px; /* Increase the padding */
    box-sizing: border-box;
  }
  
  .answer-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .answer-modal-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .answer-modal-close-btn {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }
  
  .answer-modal-answer {
    color: red;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }

  .show-answer-btn {
    background-color: #0074D9;
    background-image: linear-gradient(to bottom, #0074D9, #0E60AA);
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .show-answer-btn:hover {
    background-image: linear-gradient(to bottom, #0E60AA, #0074D9);
    cursor: pointer;
  }

  .show-answer-btn:focus ~ .question-value {
    color: #ffa800;
  }

  .answer-modal-question {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }