  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(to right, #373B44, #4286f4);
    text-align: center;
  }
  
  .hero-section {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .hero-title {
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
    text-shadow: 2px 2px #333;
  }
  
  .sub-header {
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
  }
  
  .start-game-button {
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem 2rem;
    background-color: #fff;
    color: #4286f4;
    margin: auto;
    display: block;
    transition: all 0.3s ease;
  }
  
  .start-game-button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .changelog-button {
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem 2rem;
    background-color: #fff;
    color: #4286f4;
    margin: auto;
    display: block;
    transition: all 0.3s ease;
  }
  
  .changelog-button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .divider {
    width: 90%;
    height: 1px;
    margin: 2rem auto;
    background-color: #fff;
  }
  
  .game-rules-section {
    padding: 3rem;
    text-align: left;
    background-color: #fff;
    color: #333;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }

  .created-by-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    background: linear-gradient(to right, #03a9f4, #01579b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  
  .created-by-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: justify;
  }

  
  .game-rules-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    background: linear-gradient(to right, #03a9f4, #01579b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  
  .game-rules-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: justify;
  }
  
  
  .how-to-play-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #03a9f4, #01579b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  
  .how-to-play-list {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  
  .how-to-play-item {
    margin-bottom: 0.5rem;
  }
  
  .footer {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 1rem; /* Optional: Add some gap between the buttons */
  }